header
    .header
        nav
            ul.header__list
                li
                    a(href="#", title="title") link1sss
                li
                    a(href="#", title="title") link2  