- var ifie = false;

doctype html
html.no-js
    include default-partials/html-head
    body
        block content
        include default-partials/scripts
  if ifie
    body
        | <!--[if lt IE 10]>
        |   <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        | <![endif]-->
        block content
        include default-partials/scripts
