

extends layout/main.pug

include _mixin.pug

block title
	| Главная страница1

block content
	- var list = {items:['one','two','three']}
	- var linklist = {items:['Phone','Contact','Forum']}
	- var h21 = "Mixin list"
	header
		h2= h21
		+list(list,'listttt')
		h2 Mixin linklist
		+link_list(linklist,'menu')
	main.main
		section.svg
			h2 Svg sprite
			+icon('money')
			+icon('sprout')
